body {
    background-color:#dcd3d3;
}
.myNav-wraper {
    background-color:black;
    padding-top: 20px;
    padding-bottom:20px;
}
.contentContainer {
    width: 930px;
    border: solid thin;
    border-color: #eee4e4;
    margin: auto;
}
.my-navbar {
    position: relative;
    width: 950px;
    margin: auto;
    border: solid thin;
    border-color:#f00;
    border-radius: 13px;
}
.slides {
    background-color: black;
}
.slide {
    width: 950px;
    position:relative;
    margin: auto;
}
.functionPicture {
    margin-left: 150px;
    margin-top:25px;
    margin-bottom:25px;
}
.functionDescription {
    border: solid thin;
    border-color:#999;
    float: right;
    width: 500px;
    height:150px;
    margin-right: 100px;
    margin-top:25px;
    margin-bottom:25px;

}
